<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="TemplateMo" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
      rel="stylesheet"
    />

    <title>Stand CSS Blog by TemplateMo</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-stand-blog.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/icon.css" />
    <link rel="stylesheet" href="assets/css/title.css" />
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <!-- tag fb tw ig g+-->
      <div>
        <ul class="social-links">
          <li>
            <a class="facebook" href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <span class="arrow"></span>
            </a>
          </li>
          <li>
            <a class="twitter" href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <span class="arrow"></span>
            </a>
          </li>
          <li>
            <a class="instagram" href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <span class="arrow"></span>
            </a>
          </li>
          <li>
            <a class="google" href="#">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
              <span class="arrow"></span>
            </a>
          </li>
        </ul>
      </div>

      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/image-highland-6ae35.appspot.com/o/logo-removebg-preview.png?alt=media&token=6264686b-6085-4f6e-9284-79aa403d968e"
              alt="Logo"
              class="logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html"
                  >Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog Entries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="post-details.html">Post Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
          <div class="item">
            <img src="assets/images/banner-item-01.jpg" alt="" />
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Fashion</span>
                </div>
                <a href="post-details.html"
                  ><h4>Morbi dapibus condimentum</h4></a
                >
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">May 12, 2020</a></li>
                  <li><a href="#">12 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/banner-item-02.jpg" alt="" />
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Nature</span>
                </div>
                <a href="post-details.html"
                  ><h4>Donec porttitor augue at velit</h4></a
                >
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">May 14, 2020</a></li>
                  <li><a href="#">24 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/banner-item-03.jpg" alt="" />
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Lifestyle</span>
                </div>
                <a href="post-details.html"
                  ><h4>Best HTML Templates on TemplateMo</h4></a
                >
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">May 16, 2020</a></li>
                  <li><a href="#">36 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/banner-item-04.jpg" alt="" />
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Fashion</span>
                </div>
                <a href="post-details.html"
                  ><h4>Responsive and Mobile Ready Layouts</h4></a
                >
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">May 18, 2020</a></li>
                  <li><a href="#">48 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/banner-item-05.jpg" alt="" />
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Nature</span>
                </div>
                <a href="post-details.html"
                  ><h4>Cras congue sed augue id ullamcorper</h4></a
                >
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">May 24, 2020</a></li>
                  <li><a href="#">64 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="assets/images/banner-item-06.jpg" alt="" />
            <div class="item-content">
              <div class="main-content">
                <div class="meta-category">
                  <span>Lifestyle</span>
                </div>
                <a href="post-details.html"
                  ><h4>Suspendisse nec aliquet ligula</h4></a
                >
                <ul class="post-info">
                  <li><a href="#">Admin</a></li>
                  <li><a href="#">May 26, 2020</a></li>
                  <li><a href="#">72 Comments</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->
    <section class="blog-posts">
      <div class="container">
        <div class="rectangle-divider-header">Home</div>
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <!-- Tiêu đề và nội dung của bài viết hiện tại -->
                    <h1 class="article-title">
                      PM requests removal of difficulties in pharmaceutical
                      export
                    </h1>
                    <p class="title-hint">
                      <strong
                        >The Prime Minister also asked relevant ministries to
                        complete the new regulations before April 25, 2024 to
                        remove current difficulties and create favourable
                        conditions for the production and business activities
                        for the medicinal herbs</strong
                      >.
                    </p>
                    <br />
                    <img
                      src="https://image.vietnamnews.vn/uploadvnnews/Article/2024/4/11/343096_que.jpg"
                    />
                    <p class="name-img">
                      Harvesting cinnamon. The inventory in the raw material
                      area is about 100 tonnes of cinnamon due to difficulties
                      in export. —VNA/VNS Photo
                    </p>
                    <p class="content-title">
                      HÀ NỘI — The Prime Minister has requested the Ministry of
                      Health to coordinate with the Ministry of Finance and
                      relevant agencies to urgently review and amend the
                      existing regulations on exporting medicinal herbs. The
                      Prime Minister also asked them to complete the new
                      regulations before April 25, 2024 to remove current
                      difficulties and create favourable conditions for the
                      production and business activities for the medicinal
                      herbs. Those are main contents of Official Telegram
                      35/CĐ-TTg on removing difficulties for pharmaceutical
                      export activities, signed by Prime Minister Phạm Minh
                      Chính on April 10 to send to the Ministry of Health and
                      Ministry of Finance. The official telegram stated that
                      recently, the export of some medicinal herbs has faced
                      difficulties, affecting the production and business
                      activities of many enterprises. Besides the difficult
                      market and falling prices, there are also problems in
                      implementing some regulations of the Ministry of Health.
                      In addition, the Việt Nam Pepper and Spice Association
                      (VPSA) has requested the Government to address problems in
                      regulations for cinnamon essential oil export. The
                      association said the inventory in the raw material area is
                      about 100 tonnes of cinnamon because businesses have faced
                      the problems in implementing regulations on management and
                      export of cinnamon essential oil. Meanwhile, there will be
                      about 400 more tonnes of essential oils by the end of
                      cinnamon season in March-April 2024. VSPA also said in the
                      future, Việt Nam will develop deep processing of essential
                      oil products for other Vietnamese spices, while there is a
                      high demand for essential oils, especially cinnamon
                      essential oils, in the global market. The management
                      agencies need to have support for the export of those
                      products, especially the export of value-added products
                      and products helping reduce carbon emissions. The
                      association and localities have proposed that export
                      declaration of cinnamon essential oil is carried out as
                      export of food products, not medicinal materials. If
                      businesses export natural cinnamon essential oil as a raw
                      material for food and beverages, they must comply with the
                      provisions of Decree 15/2018/NĐ-CP detailing the
                      implementation of some articles at the Food Safety Law. —
                      VNS
                    </p>
                  </div>
                  <div class="rectangle-divider">MORE ON THIS STORY</div>
                  <!-- Thanh ngăn cách hình chữ nhật -->
                </div>
              </div>
            </div>
          </div>
          <!-- left -->
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="sidebar">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="sidebar-item search">
                      <form id="search_form" name="gs" method="GET" action="#">
                        <input
                          type="text"
                          name="q"
                          class="searchText"
                          placeholder="type to search..."
                          autocomplete="on"
                        />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                  <div class="sidebar-heading">
                    <h2>Recent Posts</h2>
                  </div>

                  <div class="content">
                    <ul>
                      <li>
                        <a href="post-details.html">
                          <h5>
                            Vestibulum id turpis porttitor sapien facilisis
                            scelerisque
                          </h5>
                          <span>May 31, 2020</span>
                        </a>
                      </li>
                      <li>
                        <a href="post-details.html">
                          <h5>
                            Suspendisse et metus nec libero ultrices varius eget
                            in risus
                          </h5>
                          <span>May 28, 2020</span>
                        </a>
                      </li>
                      <li>
                        <a href="post-details.html">
                          <h5>
                            Swag hella echo park leggings, shaman cornhole
                            ethical coloring
                          </h5>
                          <span>May 14, 2020</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Hàng mới để hiển thị các bài viết liên quan -->
          <div class="row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-4">
              <div class="related-post">
                <!-- Bài viết liên quan 1 -->
                <img class = "img-story" src="https://image.vietnamnews.vn/uploadvnnews/Article/2024/4/11/343076_dgc.jpeg" alt="">
                <p>Dragon capital boosts ownership in Đức Giang chemical group, eyeing major project expansion</p>
                <a href="related-post-1.html">Read More</a>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="related-post">
                    <!-- Bài viết liên quan 1 -->
                    <img class = "img-story" src="https://image.vietnamnews.vn/uploadvnnews/Article/2024/4/11/343076_dgc.jpeg" alt="">
                    <p>Dragon capital boosts ownership in Đức Giang chemical group, eyeing major project expansion</p>
                    <a href="related-post-1.html">Read More</a>
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-4">
              <div class="related-post">
                <!-- Bài viết liên quan 1 -->
                <img class = "img-story" src="https://image.vietnamnews.vn/uploadvnnews/Article/2024/4/11/343076_dgc.jpeg" alt="">
                <p>Dragon capital boosts ownership in Đức Giang chemical group, eyeing major project expansion</p>
                <a href="related-post-1.html">Read More</a>
              </div>
            </div>
            <div class="col-lg-4">
                <div class="related-post">
                    <!-- Bài viết liên quan 1 -->
                    <img class = "img-story" src="https://image.vietnamnews.vn/uploadvnnews/Article/2024/4/11/343076_dgc.jpeg" alt="">
                    <p>Dragon capital boosts ownership in Đức Giang chemical group, eyeing major project expansion</p>
                    <a href="related-post-1.html">Read More</a>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="social-icons">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Behance</a></li>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Dribbble</a></li>
            </ul>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>
                Copyright 2020 Stand Blog Co. | Design:
                <a rel="nofollow" href="https://templatemo.com" target="_parent"
                  >TemplateMo</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/icon.js"></script>

    <script language="text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t) {
        //declaring the array outside of the
        if (!cleared[t.id]) {
          // function makes it static and global
          cleared[t.id] = 1; // you could use true and false, but that's more typing
          t.value = ""; // with more chance of typos
          t.style.color = "#fff";
        }
      }
    </script>
  </body>
</html>
